UI_node-red.json
[
    {
        "id": "2ef9d31e41063a6b",
        "type": "tab",
        "label": "Push Calculator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65cbd8b643461202",
        "type": "mqtt in",
        "z": "2ef9d31e41063a6b",
        "name": "",
        "topic": "esp32/button",
        "qos": "0",
        "datatype": "auto",
        "broker": "815f49c26a6bf914",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "fba27318774d296e"
            ]
        ]
    },
    {
        "id": "c46f9f7be0fdb780",
        "type": "function",
        "z": "2ef9d31e41063a6b",
        "name": "Counter",
        "func": "// Define variable and get stored flow value\n// if there is no stored value, then the value is 0\nvar counter = flow.get(\"counter\") || 0\n\n// Check the msg.topic property\n// If the topic is equal to RESET then set the counter to 0\n// else add 1 to the counter value\nif (msg.topic == \"RESET\"){\n    counter = 0\n}else{\n    counter++   \n}\n\n//save the counter value in the flow variable\nflow.set(\"counter\", counter)\n\n// set msg.payload to counter value\nmsg.payload = counter\n\n//return the message object\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "0dda0e9c4df057ce",
                "fca48155ec7d244c"
            ]
        ]
    },
    {
        "id": "0dda0e9c4df057ce",
        "type": "debug",
        "z": "2ef9d31e41063a6b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "64d358e51058f1c6",
        "type": "inject",
        "z": "2ef9d31e41063a6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RESET",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "c46f9f7be0fdb780"
            ]
        ]
    },
    {
        "id": "fca48155ec7d244c",
        "type": "ui_text",
        "z": "2ef9d31e41063a6b",
        "group": "d1930842cf7f0b96",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Push Counter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "14af91986e5f238f",
        "type": "ui_button",
        "z": "2ef9d31e41063a6b",
        "name": "",
        "group": "d1930842cf7f0b96",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "c46f9f7be0fdb780"
            ]
        ]
    },
    {
        "id": "9940f5227d38d74f",
        "type": "inject",
        "z": "2ef9d31e41063a6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "KACSA",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "c46f9f7be0fdb780"
            ]
        ]
    },
    {
        "id": "fba27318774d296e",
        "type": "switch",
        "z": "2ef9d31e41063a6b",
        "name": "PUSH",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "KACSA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "c46f9f7be0fdb780"
            ]
        ]
    },
    {
        "id": "815f49c26a6bf914",
        "type": "mqtt-broker",
        "name": "esp32",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d1930842cf7f0b96",
        "type": "ui_group",
        "name": "",
        "tab": "105ffdb3df7be4ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "105ffdb3df7be4ba",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]